__pycache__/
*.pyc
.pytest_cache/


# Python
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual env
.venv/
venv/

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Cache
.ruff_cache/
.mypy_cache/
